*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bar_border_size: 2px solid;
  --bar_border_radius: 10px;
  --bar_panel_bg: rgba(18, 14, 13, 0.8);
  --bar_shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #121212;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  cursor: url('./assets/leaf.cur'), auto;
}

/* NOTE: SPECIFIC BODY BACKGROUNDS AND COLORS*/
body.home {
  background-image: url('./assets/images/backgrounds/home_bg.jpg');
  --bar_border_color: #953022;
}
body.bookmarx {
  background-image: url('./assets/images/backgrounds/bookmarx_bg.jpg');
  --bar_border_color: #486c64;
}
body.guestbook {
  background-image: url('./assets/images/backgrounds/guestbook_bg.jpg');
  --bar_border_color: #be6411;
}
body.art {
  background-image: url('./assets/images/backgrounds/art_bg.jpg');
  --bar_border_color: #935463;
}
body.puzzles {
  background-image: url('./assets/images/backgrounds/puzzles_bg.jpg');
  --bar_border_color: #98971a;
}
body.music {
  background-image: url('./assets/images/backgrounds/music_bg.jpg');
  --bar_border_color: #953022;
}

/* NOTE: CONTAINERS */

.container {
  display: grid;
  grid-template-columns: 1.3fr 0.6fr;
  grid-template-rows: 80px 1fr 80px;
  height: 100vh;
  overflow: hidden;
  gap: 15px;
  margin: 0;
  padding: 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "top_bar top_bar"
    "content_box side_bar"
    "bottom_bar bottom_bar";
}

.top_bar {
  grid-area: top_bar;
  border: var(--bar_border_size) var(--bar_border_color);
  border-radius: var(--bar_border_radius);
  background-color: var(--bar_panel_bg);
  box-shadow: var(--bar_shadow);
}

.content_box {
  grid-area: content_box;
  border: var(--bar_border_size) var(--bar_border_color);
  border-radius: var(--bar_border_radius);
  background-color: var(--bar_panel_bg);
  box-shadow: var(--bar_shadow);
  padding: 20px;
}

.side_bar {
  grid-area: side_bar;
  border: var(--bar_border_size) var(--bar_border_color);
  border-radius: var(--bar_border_radius);
  background-color: var(--bar_panel_bg);
  box-shadow: var(--bar_shadow);
}

.bottom_bar {
  grid-area: bottom_bar;
  border: var(--bar_border_size) var(--bar_border_color);
  border-radius: var(--bar_border_radius);
  background-color: var(--bar_panel_bg);
  box-shadow: var(--bar_shadow);
}

.menu_bar_container {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu_bar_container > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_box {
  overflow-y: auto;
}

.side_bar {
  overflow-y: auto;
}

.side_bar_list {
  color: #cec090;
  padding: 0.8em;
}

.side_bar_list li:not(:last-child) {
  margin-bottom: 1em;
}

/* NOTE: IMAGES, ICONS, PHOTOS */

.icon {
  width: 60px;
  height: 60px;
  transition: transform 0.20s ease;
}

.icon:hover {
  transform: scale(1.7);
}

.art-photos {
  width: 60%;
  border-radius: 10px;
}

.bio-image {
  float: right; /* Or use 'right' if you want the image to float on the right side */
  margin: 15 px;
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
}

.article-image {
  display: block;
  margin: auto;
  width: 600px; /* Adjust the width as needed */
  border-radius: 10px;
}

/* NOTE: TEXT, FONT-FACE, HEADERS, PARAGRAPHS, LINKS */

@font-face {
  font-family: 'HellGhost';
  src: url('./assets/fonts/HellghostRough-Regular(1).ttf');
}

@font-face {
  font-family: 'Hack';
  src: url('./assets/fonts/HackNerdFontMono-Regular.ttf');
}

@font-face {
  font-family: 'OpenDys';
  src: url('./assets/fonts/OpenDyslexic-Regular.woff2');
}

hr {
  color: #594535;
}

/* Global Typography */
h1 {
  font-size: 3rem;
  margin: 10px;
  color: #c09129;
  font-family: 'HellGhost', sans-serif;
  text-shadow: -5px -5px 5px rgba(0, 0, 0, 1);
  z-index: 1000;
  position: relative;
}

.logo h1 {
  font-size: 3rem;
  color: #c09129;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 10px 0;
  font-family: 'HellGhost', sans-serif;
  color: #c09129;
}

h3, h4, h5, h6 {
  color: #be6411;
  font-family: 'HellGhost', sans-serif;
}

p {
  color: #cec090;
  font-family: 'OpenDys', sans-serif;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  cursor: url('./assets/leaf-help.cur'), pointer;
  font-family: 'OpenDys', sans-serif;
}

a:hover {
  color: #70807d;
  text-decoration-color: #70807d;
  text-decoration: underline;
}

/* NOTE: THIS IS THE STYLING FOR FOLDABLE LISTS FOR BOOKMARKS */

details {
  margin-bottom: 0px;
  padding: 0px;
}

details[open] > summary::before {
  transform: rotate(90deg);
}

summary {
  color: #c09129;
  font-size: 1.3rem;
  font-family: 'HellGhost', sans-serif;
  cursor: url('./assets/leaf-help.cur'), pointer;
  font-weight: bold;
  padding: 10px;
  list-style: none; /* Removes default arrow */
}

summary::before {
  margin-right: 10px;
  display: inline-block;
  content: "";
  background-image: url('./assets/images/icons/arrow-right.png');
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  transition: 0.1s;
}

summary:hover {
  color: #70807d;
}

ul > li {
  list-style: none;
  padding-left: 20px; /* Space for the icon */
  background: url('./assets/images/icons/bball.png') no-repeat left center;
  background-size: 16px;
}

/* NOTE: MUSIC_PLAYER */

#media_player_text {
  color: #3c2e26;
  margin: auto;
}

.audio-player {
  width: 500px;
  margin: 20px auto;
  padding: 10px;

  background-color: #c4b686;
  border-radius: 20px;

  display: flex;
  align-items: center;
  gap: 10px;
}

/* hide actual audio element */

.audio-player .audio {
  display: none;
}

/* buttons */

.audio-player .play-pause,
.audio-player .mute,
.audio-player .download {
  background-color: #c4b686;

  border: none;
  border-radius: 50%;

  width: 30px;
  height: 30px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  cursor: url('./assets/leaf-help.cur'), pointer;
}

/* icons */

.audio-player .play-pause-icon,
.audio-player .mute-icon,
.audio-player .download-icon {
  width: 30px;
  height: 30px;

  pointer-events: none;

  cursor: url('./assets/leaf-help.cur'), pointer;
}

/* progress bar */

.audio-player .seek-bar {
  flex: 1;

  min-width: 120px;

  cursor: url('./assets/leaf-help.cur'), pointer;
}

/* volume */

.audio-player .vol-control {
  width: 80px;

  flex-shrink: 0;

  cursor: url('./assets/leaf-help.cur'), pointer;
}

/* timestamps */

.audio-player .current-time,
.audio-player .duration {
  font-size: 14px;
  color: #3c2e26;

  min-width: 40px;

  flex-shrink: 0;
}

/* slash */

.audio-player {
  color: #3c2e26;
}
